<ion-header>
    <ion-toolbar [ngClass]="pt_active? 'ios_active':'ad_active'">
        <ion-buttons slot="start" (click)="goBack()">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title>Appointment Center</ion-title>
        <ion-buttons slot="end">
            <ion-icon name="search"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item (click)="openModal()">
            <ion-grid>
                <ion-row>
                    <ion-col size="8">
                        <ion-label class="appointment_reminder">Appointment reminder</ion-label>
                        <ion-label class="appointment_date">Friday: at 4 pm</ion-label>
                    </ion-col>
                    <ion-col size="4">
                        <ion-label class="appointment_status ion-text-end st_pending">Pending</ion-label>
                        <ion-label class="appointment_date ion-text-end">2 day later</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
         <ion-item (click)="openModal()">
            <ion-grid>
                <ion-row>
                    <ion-col size="8">
                        <ion-label class="appointment_reminder">Appointment reminder</ion-label>
                        <ion-label class="appointment_date">Wednesday</ion-label>
                    </ion-col>
                    <ion-col size="4">
                        <ion-label class="appointment_status ion-text-end st_close">Close</ion-label>
                        <ion-label class="appointment_date ion-text-end">2 day later</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
         <ion-item (click)="openModal()">
            <ion-grid>
                <ion-row>
                    <ion-col size="8">
                        <ion-label class="appointment_reminder">Appointment reminder</ion-label>
                        <ion-label class="appointment_date">Wednesday</ion-label>
                    </ion-col>
                    <ion-col size="4">
                        <ion-label class="appointment_status ion-text-end st_close">Close</ion-label>
                        <ion-label class="appointment_date ion-text-end">2 day later</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
         <ion-item (click)="openModal()">
            <ion-grid>
                <ion-row>
                    <ion-col size="8">
                        <ion-label class="appointment_reminder">Appointment reminder</ion-label>
                        <ion-label class="appointment_date">Wednesday</ion-label>
                    </ion-col>
                    <ion-col size="4">
                        <ion-label class="appointment_status ion-text-end st_close">Close</ion-label>
                        <ion-label class="appointment_date ion-text-end">2 day later</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
         <ion-item (click)="openModal()">
            <ion-grid>
                <ion-row>
                    <ion-col size="8">
                        <ion-label class="appointment_reminder">Appointment reminder</ion-label>
                        <ion-label class="appointment_date">Wednesday</ion-label>
                    </ion-col>
                    <ion-col size="4">
                        <ion-label class="appointment_status ion-text-end st_close">Close</ion-label>
                        <ion-label class="appointment_date ion-text-end">2 day later</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>