<ion-header>
    <ion-toolbar [ngClass]="pt_active? 'ios_active':'ad_active'">
        <ion-buttons slot="start" (click)="goBack()">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title>messages</ion-title>
        <ion-buttons slot="end">
            <ion-icon name="search"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list (click)="goto('messagedetail')">
        <ion-item>
            <ion-avatar>
                <img src="../../assets/images/img-avataa.png">
            </ion-avatar>
            <div class="r_content">
                <ion-list class="massages_list">
                    <ion-text>
                        Message 1
                        <ion-label>(Adminstration Center)</ion-label>
                    </ion-text>
                    <ion-label class="msg_time">8:50 PM</ion-label>
                </ion-list>
                <ion-list class="massages_des">
                    <ion-text>Lorem Ipsum is simply dummy text of the printing and typesetting</ion-text>
                    <img src="../../assets/images/icon-star.png" alt="">
                </ion-list>
            </div>
        </ion-item>

    </ion-list>
    <ion-list (click)="goto('messagedetail')">
        <ion-item>
            <ion-avatar>
                <img src="../../assets/images/img-avataa.png">
            </ion-avatar>
            <div class="r_content">
                <ion-list class="massages_list">
                    <ion-text>
                        Message 1
                        <ion-label>(Adminstration Center)</ion-label>
                    </ion-text>
                    <ion-label class="msg_time">8:50 PM</ion-label>
                </ion-list>
                <ion-list class="massages_des">
                    <ion-text>Lorem Ipsum is simply dummy text of the printing and typesetting</ion-text>
                    <img src="../../assets/images/icon-star.png" alt="">
                </ion-list>
            </div>
        </ion-item>
    </ion-list>
    <ion-list (click)="goto('messagedetail')">
        <ion-item>
            <ion-avatar>
                <img src="../../assets/images/img-avataa.png">
            </ion-avatar>
            <div class="r_content">
                <ion-list class="massages_list">
                    <ion-text>
                        Message 1
                        <ion-label>(Adminstration Center)</ion-label>
                    </ion-text>
                    <ion-label class="msg_time">8:50 PM</ion-label>
                </ion-list>
                <ion-list class="massages_des">
                    <ion-text>Lorem Ipsum is simply dummy text of the printing and typesetting</ion-text>
                    <img src="../../assets/images/icon-star.png" alt="">
                </ion-list>
            </div>
        </ion-item>
    </ion-list>
    <ion-list (click)="goto('messagedetail')">
        <ion-item>
            <ion-avatar>
                <img src="../../assets/images/img-avataa.png">
            </ion-avatar>
            <div class="r_content">
                <ion-list class="massages_list">
                    <ion-text>
                        Message 1
                        <ion-label>(Adminstration Center)</ion-label>
                    </ion-text>
                    <ion-label class="msg_time">8:50 PM</ion-label>
                </ion-list>
                <ion-list class="massages_des">
                    <ion-text>Lorem Ipsum is simply dummy text of the printing and typesetting</ion-text>
                    <img src="../../assets/images/icon-star.png" alt="">
                </ion-list>
            </div>
        </ion-item>
    </ion-list>
    <ion-list (click)="goto('messagedetail')">
        <ion-item>
            <ion-avatar>
                <img src="../../assets/images/img-avataa.png">
            </ion-avatar>
            <div class="r_content">
                <ion-list class="massages_list">
                    <ion-text>
                        Message 1
                        <ion-label>(Adminstration Center)</ion-label>
                    </ion-text>
                    <ion-label class="msg_time">8:50 PM</ion-label>
                </ion-list>
                <ion-list class="massages_des">
                    <ion-text>Lorem Ipsum is simply dummy text of the printing and typesetting</ion-text>
                    <img src="../../assets/images/icon-star.png" alt="">
                </ion-list>
            </div>
        </ion-item>
    </ion-list>
    <ion-list (click)="goto('messagedetail')">
        <ion-item>
            <ion-avatar>
                <img src="../../assets/images/img-avataa.png">
            </ion-avatar>
            <div class="r_content">
                <ion-list class="massages_list">
                    <ion-text>
                        Message 1
                        <ion-label>(Adminstration Center)</ion-label>
                    </ion-text>
                    <ion-label class="msg_time">8:50 PM</ion-label>
                </ion-list>
                <ion-list class="massages_des">
                    <ion-text>Lorem Ipsum is simply dummy text of the printing and typesetting</ion-text>
                    <img src="../../assets/images/icon-star.png" alt="">
                </ion-list>
            </div>
        </ion-item>
    </ion-list>
    <ion-list (click)="goto('messagedetail')">
        <ion-item>
            <ion-avatar>
                <img src="../../assets/images/img-avataa.png">
            </ion-avatar>
            <div class="r_content">
                <ion-list class="massages_list">
                    <ion-text>
                        Message 1
                        <ion-label>(Adminstration Center)</ion-label>
                    </ion-text>
                    <ion-label class="msg_time">8:50 PM</ion-label>
                </ion-list>
                <ion-list class="massages_des">
                    <ion-text>Lorem Ipsum is simply dummy text of the printing and typesetting</ion-text>
                    <img src="../../assets/images/icon-star.png" alt="">
                </ion-list>
            </div>
        </ion-item>
    </ion-list>
    <ion-list (click)="goto('messagedetail')">
        <ion-item>
            <ion-avatar>
                <img src="../../assets/images/img-avataa.png">
            </ion-avatar>
            <div class="r_content">
                <ion-list class="massages_list">
                    <ion-text>
                        Message 1
                        <ion-label>(Adminstration Center)</ion-label>
                    </ion-text>
                    <ion-label class="msg_time">8:50 PM</ion-label>
                </ion-list>
                <ion-list class="massages_des">
                    <ion-text>Lorem Ipsum is simply dummy text of the printing and typesetting</ion-text>
                    <img src="../../assets/images/icon-star.png" alt="">
                </ion-list>
            </div>
        </ion-item>
    </ion-list>
    <ion-list (click)="goto('messagedetail')">
        <ion-item>
            <ion-avatar>
                <img src="../../assets/images/img-avataa.png">
            </ion-avatar>
            <div class="r_content">
                <ion-list class="massages_list">
                    <ion-text>
                        Message 1
                        <ion-label>(Adminstration Center)</ion-label>
                    </ion-text>
                    <ion-label class="msg_time">8:50 PM</ion-label>
                </ion-list>
                <ion-list class="massages_des">
                    <ion-text>Lorem Ipsum is simply dummy text of the printing and typesetting</ion-text>
                    <img src="../../assets/images/icon-star.png" alt="">
                </ion-list>
            </div>
        </ion-item>
    </ion-list>
    <ion-list (click)="goto('messagedetail')">
        <ion-item>
            <ion-avatar>
                <img src="../../assets/images/img-avataa.png">
            </ion-avatar>
            <div class="r_content">
                <ion-list class="massages_list">
                    <ion-text>
                        Message 1
                        <ion-label>(Adminstration Center)</ion-label>
                    </ion-text>
                    <ion-label class="msg_time">8:50 PM</ion-label>
                </ion-list>
                <ion-list class="massages_des">
                    <ion-text>Lorem Ipsum is simply dummy text of the printing and typesetting</ion-text>
                    <img src="../../assets/images/icon-star.png" alt="">
                </ion-list>
            </div>
        </ion-item>
    </ion-list>
    <ion-list (click)="goto('messagedetail')">
        <ion-item>
            <ion-avatar>
                <img src="../../assets/images/img-avataa.png">
            </ion-avatar>
            <div class="r_content">
                <ion-list class="massages_list">
                    <ion-text>
                        Message 1
                        <ion-label>(Adminstration Center)</ion-label>
                    </ion-text>
                    <ion-label class="msg_time">8:50 PM</ion-label>
                </ion-list>
                <ion-list class="massages_des">
                    <ion-text>Lorem Ipsum is simply dummy text of the printing and typesetting</ion-text>
                    <img src="../../assets/images/icon-star.png" alt="">
                </ion-list>
            </div>
        </ion-item>
    </ion-list>
    <ion-list (click)="goto('messagedetail')">
        <ion-item>
            <ion-avatar>
                <img src="../../assets/images/img-avataa.png">
            </ion-avatar>
            <div class="r_content">
                <ion-list class="massages_list">
                    <ion-text>
                        Message 1
                        <ion-label>(Adminstration Center)</ion-label>
                    </ion-text>
                    <ion-label class="msg_time">8:50 PM</ion-label>
                </ion-list>
                <ion-list class="massages_des">
                    <ion-text>Lorem Ipsum is simply dummy text of the printing and typesetting</ion-text>
                    <img src="../../assets/images/icon-star.png" alt="">
                </ion-list>
            </div>
        </ion-item>
    </ion-list>
    <ion-list (click)="goto('messagedetail')">
        <ion-item>
            <ion-avatar>
                <img src="../../assets/images/img-avataa.png">
            </ion-avatar>
            <div class="r_content">
                <ion-list class="massages_list">
                    <ion-text>
                        Message 1
                        <ion-label>(Adminstration Center)</ion-label>
                    </ion-text>
                    <ion-label class="msg_time">8:50 PM</ion-label>
                </ion-list>
                <ion-list class="massages_des">
                    <ion-text>Lorem Ipsum is simply dummy text of the printing and typesetting</ion-text>
                    <img src="../../assets/images/icon-star.png" alt="">
                </ion-list>
            </div>
        </ion-item>
    </ion-list>
    <ion-list (click)="goto('messagedetail')">
        <ion-item>
            <ion-avatar>
                <img src="../../assets/images/img-avataa.png">
            </ion-avatar>
            <div class="r_content">
                <ion-list class="massages_list">
                    <ion-text>
                        Message 1
                        <ion-label>(Adminstration Center)</ion-label>
                    </ion-text>
                    <ion-label class="msg_time">8:50 PM</ion-label>
                </ion-list>
                <ion-list class="massages_des">
                    <ion-text>Lorem Ipsum is simply dummy text of the printing and typesetting</ion-text>
                    <img src="../../assets/images/icon-star.png" alt="">
                </ion-list>
            </div>
        </ion-item>
    </ion-list>
    <ion-list (click)="goto('messagedetail')">
        <ion-item>
            <ion-avatar>
                <img src="../../assets/images/img-avataa.png">
            </ion-avatar>
            <div class="r_content">
                <ion-list class="massages_list">
                    <ion-text>
                        Message 1
                        <ion-label>(Adminstration Center)</ion-label>
                    </ion-text>
                    <ion-label class="msg_time">8:50 PM</ion-label>
                </ion-list>
                <ion-list class="massages_des">
                    <ion-text>Lorem Ipsum is simply dummy text of the printing and typesetting</ion-text>
                    <img src="../../assets/images/icon-star.png" alt="">
                </ion-list>
            </div>
        </ion-item>
    </ion-list>
</ion-content>