<ion-header>
    <ion-toolbar>
        <ion-title>Appointment reminder</ion-title>
        <ion-buttons slot="end">
            <ion-icon class="icon_close" (click)="close()" name="close"></ion-icon>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content>
    <ion-list>
        <ion-list class="modal_item">
            <ion-list class="modal_content">
                <ion-label class="item_title">Appointment reminder</ion-label>
                <ion-list>
                    <img class="clock_img" src="../../assets/images/icon-clock.png" alt="">
                    <ion-label class="item_clock">Friday: at 4 pm</ion-label>
                </ion-list>
            </ion-list>
            <ion-button class="btn-modal" expand="full">Booked</ion-button>
        </ion-list>
        <ion-list class="modal_item">
            <ion-list class="modal_content">
                <ion-label class="item_title">Appointment reminder</ion-label>
                <ion-list>
                    <img class="clock_img" src="../../assets/images/icon-clock.png" alt="">
                    <ion-label class="item_clock">Friday: at 4 pm</ion-label>
                </ion-list>
            </ion-list>
            <ion-button class="btn-modal disable" expand="full">Booked</ion-button>
        </ion-list>
        <ion-list class="modal_item">
            <ion-list class="modal_content">
                <ion-label class="item_title">Appointment reminder</ion-label>
                <ion-list>
                    <img class="clock_img" src="../../assets/images/icon-clock.png" alt="">
                    <ion-label class="item_clock">Friday: at 4 pm</ion-label>
                </ion-list>
            </ion-list>
            <ion-button class="btn-modal disable" expand="full">Booked</ion-button>
        </ion-list>
        <ion-list class="modal_item_list">
            <ion-list class="modal_content">
                <ion-label class="item_title">Appointment reminder</ion-label>
                <ion-list>
                    <img class="clock_img" src="../../assets/images/icon-clock.png" alt="">
                    <ion-label class="item_clock">Friday: at 4 pm</ion-label>
                </ion-list>
            </ion-list>
            <ion-button class="btn-modal disable" expand="full">Booked</ion-button>
        </ion-list>
    </ion-list>
    <ion-list class="modal_submit">
        <ion-button class="btn-modal-cofirm" expand="full">Cofirm</ion-button>
    </ion-list>
</ion-content>