<ion-header>
    <ion-toolbar [ngClass]="pt_active? 'ios_active':'ad_active'">
        <ion-buttons slot="start" (click)="goBack()">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title>School Documents</ion-title>
        <ion-buttons slot="end">
            <ion-icon name="search"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-grid>
                <ion-row>
                    <ion-col size="10">
                        <ion-text class="school_text">
                            School Calendar
                            <ion-label class="brage">New</ion-label>
                        </ion-text>
                    </ion-col>
                    <ion-col class="ion-text-end" size="2">
                        <img src="../../assets/images/icon-download.png" alt="">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-item>
            <ion-grid>
                <ion-row>
                    <ion-col size="10">
                        <ion-text class="school_text">
                            Routine of the day
                        </ion-text>
                    </ion-col>
                    <ion-col class="ion-text-end" size="2">
                        <img src="../../assets/images/icon-download.png" alt="">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-item>
            <ion-grid>
                <ion-row>
                    <ion-col size="10">
                        <ion-text class="school_text">
                            School menu
                        </ion-text>
                    </ion-col>
                    <ion-col class="ion-text-end" size="2">
                        <img src="../../assets/images/icon-download.png" alt="">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-item>
            <ion-grid>
                <ion-row>
                    <ion-col size="10">
                        <ion-text class="school_text">
                            School supplies to buy
                            <ion-label class="brage">New</ion-label>
                        </ion-text>
                    </ion-col>
                    <ion-col class="ion-text-end" size="2">
                        <img src="../../assets/images/icon-download.png" alt="">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-item>
            <ion-grid>
                <ion-row>
                    <ion-col size="10">
                        <ion-text class="school_text">Rule book</ion-text>
                    </ion-col>
                    <ion-col class="ion-text-end" size="2">
                        <img src="../../assets/images/icon-download.png" alt="">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-item>
            <ion-grid>
                <ion-row>
                    <ion-col size="10">
                        <ion-text class="school_text">Our documents</ion-text>
                    </ion-col>
                    <ion-col class="ion-text-end" size="2">
                        <img src="../../assets/images/icon-download.png" alt="">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

    </ion-list>
</ion-content>